# Ogre Core Resources
[OgreInternal]
FileSystem=./media/ogre-internal/Main
FileSystem=./media/ogre-internal/RTShaderLib
FileSystem=./media/ogre-internal/Terrain

[General]
FileSystem=./media
FileSystem=./media/materials

# Resources required by OgreBites::Trays
[Essential]
Zip=./media/ogre-internal/packs/SdkTrays.zip
Zip=./media/ogre-internal/packs/profiler.zip
